Package: com.wrp1002.tvlock
Name: TVLock
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Wes
Author: Wes
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
