Package: com.wrp1002.tvlock
Name: TVLock13
Architecture: iphoneos-arm
Description: Awesome TV turning off animation for locking!
Maintainer: Wes <wes.hamster@gmail.com>
Author: Wes <wes.hamster@gmail.com>
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), ws.hbang.common (>= 1.2)
Version: 1.0.0
Installed-Size: 408
