<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
	<dict>
		<key>cell</key>
		<string>PSGroupCell</string>
		<key>label</key>
		<string>Options</string>
	</dict>
	<dict>
		<key>cell</key>
		<string>PSSwitchCell</string>
		<key>label</key>
		<string>Enabled</string>
		<key>key</key>
		<string>kEnabled</string>
		<key>default</key>
		<true/>
		<key>defaults</key>
		<string>com.wrp1002.tvlock</string>
		<key>PostNotification</key>
		<string>com.wrp1002.tvlock/ReloadPrefs</string>
	</dict>
	<dict>
		<key>cell</key>
		<string>PSSwitchCell</string>
		<key>label</key>
		<string>Disable in Low Power Mode</string>
		<key>key</key>
		<string>kLPM</string>
		<key>default</key>
		<false/>
		<key>defaults</key>
		<string>com.wrp1002.tvlock</string>
		<key>PostNotification</key>
		<string>com.wrp1002.tvlock/ReloadPrefs</string>
	</dict>
	<dict>
		<key>cell</key>
		<string>PSSwitchCell</string>
		<key>label</key>
		<string>Glow Effect</string>
		<key>key</key>
		<string>kGlow</string>
		<key>default</key>
		<true/>
		<key>defaults</key>
		<string>com.wrp1002.tvlock</string>
		<key>PostNotification</key>
		<string>com.wrp1002.tvlock/ReloadPrefs</string>
	</dict>
	<dict>
		<key>cell</key>
		<string>PSSwitchCell</string>
		<key>label</key>
		<string>Use Smooth Animation</string>
		<key>key</key>
		<string>kSmooth</string>
		<key>default</key>
		<false/>
		<key>defaults</key>
		<string>com.wrp1002.tvlock</string>
		<key>PostNotification</key>
		<string>com.wrp1002.tvlock/ReloadPrefs</string>
	</dict>

	<dict>
		<key>cell</key>
		<string>PSGroupCell</string>
		<key>label</key>
		<string>Line Thiccness</string>
	</dict>
	<dict>
		<key>cell</key>
		<string>PSSliderCell</string>
		<key>key</key>
		<string>kLine</string>
		<key>min</key>
		<integer>1</integer>
		<key>max</key>
		<integer>10</integer>
		<key>default</key>
		<integer>4</integer>
		<key>showValue</key>
		<true/>
		<key>isSegmented</key>
		<true/>
		<key>defaults</key>
		<string>com.wrp1002.tvlock</string>
		<key>PostNotification</key>
		<string>com.wrp1002.tvlock/ReloadPrefs</string>
	</dict>

	<dict>
		<key>cell</key>
		<string>PSGroupCell</string>
		<key>label</key>
		<string>Dot Size</string>
	</dict>
	<dict>
		<key>cell</key>
		<string>PSSliderCell</string>
		<key>key</key>
		<string>kDot</string>
		<key>min</key>
		<integer>1</integer>
		<key>max</key>
		<integer>10</integer>
		<key>default</key>
		<integer>3</integer>
		<key>showValue</key>
		<true/>
		<key>isSegmented</key>
		<true/>
		<key>defaults</key>
		<string>com.wrp1002.tvlock</string>
		<key>PostNotification</key>
		<string>com.wrp1002.tvlock/ReloadPrefs</string>
	</dict>

	<dict>
		<key>cell</key>
		<string>PSGroupCell</string>
		<key>label</key>
		<string>Squish animation time</string>
	</dict>
	<dict>
		<key>cell</key>
		<string>PSSliderCell</string>
		<key>label</key>
		<string>Modifier</string>
		<key>key</key>
		<string>kAnim1</string>
		<key>min</key>
		<real>0</real>
		<key>max</key>
		<real>0.5</real>
		<key>default</key>
		<real>0.15</real>
		<key>showValue</key>
		<true/>
		<key>isSegmented</key>
		<false/>
		<key>defaults</key>
		<string>com.wrp1002.tvlock</string>
		<key>PostNotification</key>
		<string>com.wrp1002.tvlock/ReloadPrefs</string>
	</dict>

	<dict>
		<key>cell</key>
		<string>PSGroupCell</string>
		<key>label</key>
		<string>Pause time</string>
	</dict>
	<dict>
		<key>cell</key>
		<string>PSSliderCell</string>
		<key>key</key>
		<string>kPause1</string>
		<key>min</key>
		<real>0</real>
		<key>max</key>
		<real>0.5</real>
		<key>default</key>
		<real>0.05</real>
		<key>showValue</key>
		<true/>
		<key>isSegmented</key>
		<false/>
		<key>defaults</key>
		<string>com.wrp1002.tvlock</string>
		<key>PostNotification</key>
		<string>com.wrp1002.tvlock/ReloadPrefs</string>
	</dict>

	<dict>
		<key>cell</key>
		<string>PSGroupCell</string>
		<key>label</key>
		<string>Closing animation</string>
	</dict>
	<dict>
		<key>cell</key>
		<string>PSSliderCell</string>
		<key>key</key>
		<string>kAnim2</string>
		<key>min</key>
		<real>0</real>
		<key>max</key>
		<real>0.5</real>
		<key>default</key>
		<real>0.15</real>
		<key>showValue</key>
		<true/>
		<key>isSegmented</key>
		<false/>
		<key>defaults</key>
		<string>com.wrp1002.tvlock</string>
		<key>PostNotification</key>
		<string>com.wrp1002.tvlock/ReloadPrefs</string>
	</dict>

	<dict>
		<key>cell</key>
		<string>PSGroupCell</string>
		<key>label</key>
		<string>Dot Fade Time</string>
	</dict>
	<dict>
		<key>cell</key>
		<string>PSSliderCell</string>
		<key>key</key>
		<string>kAnim3</string>
		<key>min</key>
		<real>0</real>
		<key>max</key>
		<real>0.5</real>
		<key>default</key>
		<real>0.4</real>
		<key>showValue</key>
		<true/>
		<key>isSegmented</key>
		<false/>
		<key>defaults</key>
		<string>com.wrp1002.tvlock</string>
		<key>PostNotification</key>
		<string>com.wrp1002.tvlock/ReloadPrefs</string>
	</dict>

	<dict>
		<key>cell</key>
		<string>PSGroupCell</string>
	</dict>
	<dict>
		<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Reset all settings (no respring)</string>
			<key>action</key>
			<string>Reset</string>
			<key>isDestructive</key>
			<true/>
	</dict>

	<dict>
		<key>cell</key>
		<string>PSGroupCell</string>
		<key>label</key>
		<string>Developer</string>
	</dict>
	<dict>
		<key>cell</key>
		<string>PSButtonCell</string>
		<key>label</key>
		<string>Email Me</string>
		<key>action</key>
		<string>OpenEmail</string>
		<key>icon</key>
		<string>email.png</string>
	</dict>
	<dict>
		<key>cell</key>
		<string>PSButtonCell</string>
		<key>label</key>
		<string>Reddit</string>
		<key>action</key>
		<string>OpenReddit</string>
		<key>icon</key>
		<string>reddit.png</string>
	</dict>
	<dict>
		<key>cell</key>
		<string>PSButtonCell</string>
		<key>label</key>
		<string>Source Code</string>
		<key>action</key>
		<string>OpenGithub</string>
		<key>icon</key>
		<string>github.png</string>
	</dict>
	<dict>
		<key>cell</key>
		<string>PSButtonCell</string>
		<key>label</key>
		<string>Donate</string>
		<key>action</key>
		<string>OpenPaypal</string>
		<key>icon</key>
		<string>paypal.png</string>
	</dict>

	</array>

	<key>title</key>
	<string>TVLock</string>
</dict>
</plist>
